.Behave-Scrollable {
  position: relative;
  overflow: hidden;
}

.Behave-Scrollable .Behave-Scrollable-Content {
  height: 100%;
}

.Behave-Scrollable.-vertical .Behave-Scrollable-Content {
  overflow-y: auto;
}

.Behave-Scrollable.-horizontal .Behave-Scrollable-Content {
  overflow-x: auto;
}
