{{page-title "ember-behave"}}

<h2 id="title">Welcome to ember-behave</h2>

<nav>
  <ul>
    <li><LinkTo @route="dialog">Dialogs</LinkTo></li>
    <li><LinkTo @route="scrollable">Scrollable</LinkTo></li>
  </ul>
</nav>

<div id="ember-bootstrap-wormhole"></div>

{{outlet}}


